.skills-container {
    display:grid;
    grid-template-columns: 1fr 3fr;
    height:100%;
}

.skills, .skill-details {
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: stretch;
    div {
        flex:1;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .selected {
        border-color:blueviolet;
        border-width: 5px 0px 5px 20px;
    }
}

.skills div {
    border: solid green;
    border-width: 5px 5px 5px 20px;
    border-radius: 50px 0 0 50px;
}