<div class="skills-container">
  <div class="skills">
    <button type="button" *ngFor="let skill of skills"
      [class.selected]="skill===skillSelected"
      (click)="onSelectSkill(skill)"
      >
        {{ skill.label | uppercase}}
    </button>
    <button pbutton>plop</button>
  </div>
  <div class="skill-details">
    <div *ngIf="skillSelected">
      <div *ngFor="let detail of skillSelected.details">
        {{ detail }}
      </div>
    </div>
    <button pButton type="button" label="Click"></button>
  </div>
</div>

