.container {
    height:100%;
    display:grid;


    grid-template-rows: 150px auto auto 150px;
    grid-template-columns: [main-start] 1fr 1fr [main-stop];
    grid-gap: 50px;

    &.zoomed {
        grid-template-rows: 150px auto 150px;
        grid-template-columns: [main-start] 1fr [main-stop];
    }
}



.container > .home_app {
    border:1px solid black;
    min-height:600px;
    position:relative;
    transition: height 2s;
    &.zoomed {
        height:100%;
        min-height:1250px;
        transition: 2s;       
    }
    &.hidden {
        display: none;
    }
}

header {
    grid-column-start: main-start;
    grid-column-end: main-stop;
    background-color:red;
}

footer {
    grid-column-start: main-start;
    grid-column-end: main-stop;
    background-color:yellow;
}

.zoomInBtn {
    position:absolute;
    bottom: 0;
    right: 0;
}

.zoomOutBtn {
    position:absolute;
    bottom: 0;
    left: 0;
}

